{% extends 'blogs/base.html' %}

{% block content %}

  <div class="newpost">
    <div class="newpost-form">
      <form method="post" autocomplete="off">
        {% csrf_token %}
        <textarea autofocus class="form-textarea"
                  placeholder="Write a response..." type="text"
                  name="content">{{ comment.content }}</textarea>
        {{ form.content.errors }}
        <input class="button-outline form-submit" type="submit" value="save">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </form>
    </div>
  </div>

{% endblock %}