{% extends 'blogs/base.html' %}

{% block content %}

  <div class="newpost">
    <div class="newpost-form">
      <form method="post" autocomplete="off">
        {% csrf_token %}
        <input autofocus class="form-input" placeholder="Title" type="text"
               name="subject" value=""/>
        {{ form.subject.errors }}
        <textarea class="form-textarea" placeholder="Tell your story..."
                  type="text" name="content"></textarea>
        {{ form.content.errors }}
        <input class="button-outline form-submit" type="submit"
               value="publish">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </form>
    </div>
  </div>

{% endblock %}